{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="tweetform" >
        {% for tweet in tweets %}
                <div class="card " style="padding:50px;">
                    <div class="card-header" style="background-color: brown;">
                        <h4>{{ tweet.nickname }}</h4>

                    </div>

                    <div class="card-body">
                        <p class="card-text">{{ tweet.tweet}}</p>

                    </div>
                
                </div>
        {% endfor %}
    </div>


{%  endblock %}